{% extends 'base.html.twig' %}

{% block title 'Register'%}

{% block body %}
    <div class="container">
        <h1>Registration form</h1>
        {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        <input type="submit" value="Resister" class="btn btn-primary" formnovalidate>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
